<widget id="A123456789"  version="0.0.1">
    <name>模块开发</name>
    <description>
        模块开发示例应用.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        APICloud
    </author>
    <content src="./index.html" />
    <access origin="*" />
    <feature name="pushGeTui">
        <param name="ios_appid" value="8eLAkGIYnGAwA9fVYZU93A"/>
        <param name="ios_appkey" value="VFX8xYxvVF6w59tsvY6XN"/>
        <param name="ios_appsecret" value="Kv3TeED8z19QwnMLdzdI35"/>
    </feature>
</widget>
