<widget id="A123456789"  version="0.0.1">
    <name>模块开发</name>
    <description>
        模块开发示例应用.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        APICloud
    </author>
    <content src="./index.html" />
    <access origin="*" />
    <feature name="pushGeTui">
        <param name="ios_appid" value="xXmjbbab3b5F1m7wAYZoG2"/>
        <param name="ios_appkey" value="BZF4dANEYr8dwLhj6lRfx2"/>
        <param name="ios_appsecret" value="yXRS5zRxDt8WhMW8DD8W05"/>
        <param name="active_show_notification" value="1"/>
    </feature>
</widget>
