<widget id="A123456789"  version="0.0.1">
    <name>模块开发</name>
    <description>
        模块开发示例应用.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        APICloud
    </author>
    <content src="./index.html" />
    <access origin="*" />
    <feature name="pushGeTui">
        <param name="ios_appid" value="D4hs9Z3Efa76e3jAqI0t55"/>
        <param name="ios_appkey" value="y8V8E19DLp75ATXd1RDBf3"/>
        <param name="ios_appsecret" value="f0TsC2nwYX6H5fijzQvSK5"/>
    </feature>
</widget>
